/* RequestCart.css */
.content-cart {
    background-color: #FAFAF7;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    max-width: 800px;
    margin: 60px auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .content-cart h1 {
    font-size: 36px;
    font-weight: 400;
    color: #BD5D3A;
    margin-bottom: 30px; 
}
  
  .cart-items {
    margin-top: 20px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
  }
  
  .cart-item img {
    margin-right: 20px;
    border-radius: 10px;
  }
  
  .cart-item-details h3 {
    margin: 0 0 10px;
    font-size: 18px;
  }
  
  .confirm-request-button {
    background-color: #BD5D3A;
    color: #FFFFFF;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  
  .confirm-request-button:hover {
    background-color: #9b472d;
  }

  .add-more-items-button{
    background-color: #BD5D3A;
    color: #FFFFFF;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    margin-right: 15px;
  }
  .add-more-items-button:hover {
    background-color: #9b472d;
  }
  
  .cart-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  
  .cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #BD5D3A;
    color: white;
    padding: 5px;
    border-radius: 50%;
    font-size: 14px;
  }
  